$primary-palette: (
    type: primary,
    50:#E3F2FD,
    100: #BBDEFB,
    200: #90CAF9,
    300: #64B5F6,
    400: #42A5F5,
    500: #2196F3,
    600: #1E88E5,
    700: #1976D2,
    800: #1565C0,
    900: #0D47A1,
    contrast: (
        50:#E3F2FD,
        100: #BBDEFB,
        200: #90CAF9,
        300: #64B5F6,
        400: #42A5F5,
        500: #2196F3,
        600: #1E88E5,
        700: #1976D2,
        800: #1565C0,
        900: #0D47A1
    )
);

$accent-palette: (
    type: accent,
    50: #FAFAFA,
    100: #F5F5F5,
    200: #EEEEEE,
    300: #E0E0E0,
    400: #BDBDBD,
    500: #9E9E9E,
    600: #757575,
    700: #616161,
    800: #424242,
    900: #212121,
    contrast: (
        50: #FAFAFA,
        100: #F5F5F5,
        200: #EEEEEE,
        300: #E0E0E0,
        400: #BDBDBD,
        500: #9E9E9E,
        600: #757575,
        700: #616161,
        800: #424242,
        900: #212121
    )
);

$warn-palette: (
    type: warn,
    50: #FFEBEE,
    100: #FFCDD2,
    200: #EF9A9A,
    300: #E57373,
    400: #EF5350,
    500: #F44336,
    600: #E53935,
    700: #D32F2F,
    800: #C62828,
    900: #B71C1C,
    contrast: (
        50: #FFEBEE,
        100: #FFCDD2,
        200: #EF9A9A,
        300: #E57373,
        400: #EF5350,
        500: #F44336,
        600: #E53935,
        700: #D32F2F,
        800: #C62828,
        900: #B71C1C
    )
);
